*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TopArea Design Started Here*/
header{
    background-color: #149777;
    height: 250px;
}
.topArea{
    width: 80%;
    margin: 0 auto;
}
.topArea a{
    text-decoration: none;
    color: white;
}
.leftArea{
    grid-area: left1;
}
.middleArea{
    grid-area: middle1;
}
.rightArea{
    grid-area: right1;
}
.topArea{
    display: grid;
    grid-template-areas: 
        'left1 middle1 right1'
    ;
}
.leftArea img{
    float: left;
    height: 110px;
    margin-top: -15px;
}
.allAds{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 22px;
    margin-left: -22px;
    font-size: 17px;
    font-weight: bold;
}
.bangla{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 26px;
    margin-left: 20px;
    font-size: 17px;
    border: 1px solid #257467;
    padding: 5px 13px;
    border-radius: 6px;
}
.chat{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 22px;
    font-size: 17px;
    margin-left: 190px;
}
.chat span, .login span{
    margin-left: 10px;
}
.chat i, .login i{
    font-size: 20px;
}
.login , .post{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 22px;
    font-size: 17px;
}
#pp{
    background-color: #FFC800;
    color: #673500;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    margin-right: 70px;
    font-size: 15px;
    border-radius: 7px;
    padding: 12px 15px;
}
.login img{
    height: 28px;
    margin-top: -3px;
}
.login span{
    display: block;
    float: right;
    margin-top: 3px;
    margin-left: 6px;
}
/* TopArea Design Ended Here*/
/* BottomArea Design Started Here*/
.bottomArea{
    text-align: center;
}
.location{
    width: 180px;
    margin: 0 auto;
    padding: 5px;
    font-size: 17px;
    background-color: #10846F;
    border-radius: 20px;
}
.location img{
    height: 20px;
}
.location span{
    display: block;
    float: right;
    margin-top: 1px;
    padding-right: 15px;
}
.location a{
    text-decoration: none;
    color: white;
}
.search{
    margin-top: 30px;
    position: relative;
}
.search input{
    padding: 18px;
    width: 60%;
    border-radius: 35px;
    border: none;
}
.search input:focus{
    outline: none;
}
.search img{
    height: 25px;
    position: absolute;
    top: 15px;
    left: 77%;
    cursor: pointer;
}
/* BottomArea Design Ended Here*/
/* Category Design Started Here */
main{
    width: 80%;
    margin: 0 auto;
}
.cat{
    margin-top: 80px;
    margin-bottom: 50px;
}
.container img{
    height: 50px;
    width: 50px;
    float: left;
    margin: 0px 20px 10px 10px;
}
.container{
    width: 25%;
}
.container a{
    text-decoration: none;
    color: black;
}
.container p{
    font-size: 17px;
    padding: 4px;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

/* Category Design Ended Here */
/* Card Design Started Here */
.card h3{
    font-size: 17px;
    margin: 15px 0px;
}
.card{
    border: 0.1px solid #d4ded9;
    box-shadow: 0.1px 0.1px 5px #e6e9e7;
    padding: 20px;
    border-radius: 5px;
}
.card p{
    font-size: 16px;
}
.card img{
    height: 150px;
    width: 150px;
    float: left;
}
.card a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.card1 a{
    display: inline-block;
    color: #673500;
    background-color: #FFC800;
    padding: 8px 40px;
    margin-top: 20px;
    border-radius: 50px;
}
.card2 a{
    display: inline-block;
    background-color: #0074BA;
    color: white;
    padding: 8px 40px;
    margin-top: 20px;
    border-radius: 50px;
}
.card1{
    grid-area: c1;
}
.card2{
    grid-area: c2;
}
.cardContainer{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        'c1 c2'
    ;
}
/* Card Design Ended Here */
/* Quick Link Design Started Here */
.ql{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 17px;
}
.link1{
    grid-area: l1;
}
.link2{
    grid-area: l2;
}
.link3{
    grid-area: l3;
}
.link4{
    grid-area: l4;
}
.quickLink{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
        'l1 l2 l3 l4'
    ;
}
.link1, .link2, .link3, .link4{
    background-color: #F3F6F5;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
.quickLink a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.quickLink h4{
    font-size: 17px;
    padding-bottom: 15px;
}
.textDiv{
    text-align: justify;
}
.textDiv p{
    font-size: 16px;
}
.aa{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 17px;
}
/* Quick Link Design Ended Here */
/* Footer design started here */
footer{
    background-color: #F3F6F5;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 15px;
}
footer a{
    text-decoration: none;
    color: black;
}
.div1{
    grid-area: d1;
}
.div2{
    grid-area: d2;
}
.div3{
    grid-area: d3;
}
.div4{
    grid-area: d4;
}
.div5{
    grid-area: d5;
}
.footerContainer{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas:
        'd1 d2 d3 d4 d5'
    ;
}
.footerContainer h4{
    margin-bottom: 20px;
    font-size: 17px;
}
.footerContainer a{
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}
.idiv{
    margin-top: 15px;
}
.idiv img{
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.idiv2 img{
    width: 150px;
    margin-bottom: -35px;
}
.idiv3 img{
    height: 30px;
    width: 30px;
}
.idiv3 span{
    display: block;
    margin-top: -30px;
    margin-left: 35px;
}
.idiv3{
    margin-top: -15px;
    margin-left: 35px;
}
.other{
    margin-top: 25px;
}
hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.footerArea{
    width: 80%;
    margin: 0 auto;
    content: '';
    display: block;
    overflow: hidden;
}
.footerArea p{
    float: left;
    font-size: 16px;
}
.footerArea img{
    float: right;
    margin-top: -10px;
}