*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* TopArea Design Started Here*/
header{
    background-color: #149777;
    height: 250px;
}
.topArea{
    width: 80%;
    margin: 0 auto;
}
.topArea a{
    text-decoration: none;
    color: white;
}
.leftArea{
    grid-area: left1;
}
.middleArea{
    grid-area: middle1;
}
.rightArea{
    grid-area: right1;
}
.topArea{
    display: grid;
    grid-template-areas: 
        'left1 middle1 right1'
    ;
}
.leftArea img{
    float: left;
    height: 110px;
    margin-top: -15px;
}
.allAds{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 22px;
    margin-left: -22px;
    font-size: 17px;
    font-weight: bold;
}
.bangla{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 26px;
    margin-left: 20px;
    font-size: 17px;
    border: 1px solid #257467;
    padding: 5px 13px;
    border-radius: 6px;
}
.chat{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 22px;
    font-size: 17px;
    margin-left: 190px;
}
.chat span, .login span{
    margin-left: 10px;
}
.chat i, .login i{
    font-size: 20px;
}
.login , .post{
    display: block;
    float: left;
    padding: 10px;
    margin-top: 22px;
    font-size: 17px;
}
#pp{
    background-color: #FFC800;
    color: #673500;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    margin-right: 70px;
    font-size: 15px;
    border-radius: 7px;
    padding: 12px 15px;
}
.login img{
    height: 28px;
    margin-top: -3px;
}
.login span{
    display: block;
    float: right;
    margin-top: 3px;
    margin-left: 6px;
}
/* TopArea Design Ended Here*/
/* BottomArea Design Started Here*/
.bottomArea{
    text-align: center;
}
.location{
    width: 180px;
    margin: 0 auto;
    padding: 5px;
    font-size: 17px;
    background-color: #10846F;
    border-radius: 20px;
}
.location img{
    height: 20px;
}
.location span{
    display: block;
    float: right;
    margin-top: 1px;
    padding-right: 15px;
}
.location a{
    text-decoration: none;
    color: white;
}
.search{
    margin-top: 30px;
    position: relative;
}
.search input{
    padding: 18px;
    width: 60%;
    border-radius: 35px;
    border: none;
}
.search input:focus{
    outline: none;
}
.search img{
    height: 25px;
    position: absolute;
    top: 15px;
    left: 77%;
    cursor: pointer;
}
/* BottomArea Design Ended Here*/
/* Category Design Started Here */
main{
    width: 80%;
    margin: 0 auto;
}
.cat{
    margin-top: 80px;
    margin-bottom: 50px;
}
.container img{
    height: 50px;
    width: 50px;
    float: left;
    margin: 0px 20px 10px 10px;
}
.container{
    width: 25%;
}
.container a{
    text-decoration: none;
    color: black;
}
.container p{
    font-size: 17px;
    padding: 4px;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
/* Category Design Ended Here */
/* Card Design Started Here */
.card{
    border: 0.1px solid #d4ded9;
    box-shadow: 0.1px 0.1px 5px #e6e9e7;
    padding: 20px;
    border-radius: 5px;
}
.card p{
    font-size: 17px;
}
.card img{
    height: 150px;
    width: 150px;
    float: left;
}
.card a{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.card1 a{
    display: inline-block;
    color: #673500;
    background-color: #FFC800;
    padding: 8px 40px;
    margin-top: 20px;
    border-radius: 50px;
}
.card2 a{
    display: inline-block;
    background-color: #0074BA;
    color: white;
    padding: 8px 40px;
    margin-top: 20px;
    border-radius: 50px;
}
.card1{
    grid-area: c1;
}
.card2{
    grid-area: c2;
}
.cardContainer{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        'c1 c2'
    ;
}